body { 
     font-family: "Ubuntu Mono", monospace;
    font-weight: 400 700;
    font-style: normal;
    width: 1200px;
    
}
header{
    height: 53px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
    margin-bottom: 12px;
   
}
.header-logo {
    padding: 1px 0px 17px 0px;

}
header button {
    min-width: 100px;
    padding: 7px 17px;

    border: none;
    border-radius: 6px;
    background-color: rgba(70, 163, 88, 1);

    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 20.11px; 
    vertical-align:top;
    

   
}
nav {
    display:inline-block;
    
    font-size: 16px;
    font-weight: 400;
    padding: 8px 263px 0px;
    line-height: 20.11px;
    
    vertical-align:top;
   

}
li {
    display: inline-block;
    padding-right: 50px;
   
}
li a {
    text-decoration: none;
    color: black;
}
.border-home {
    border-bottom: 3px solid rgba(70, 163, 88, 1);
    font-weight: 700;
    padding-bottom: 25px;
  
}
main button {
    min-width: 140px;
    height: 40px;
    padding: 11px 27px 9px 26px;
    border: none;
    border-radius: 6px;
    background-color: rgba(70, 163, 88, 1);

    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 20.11px; 

}
.welcome-block {
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
    
}
.text-block {
    display: inline-block;
    width: 50%;
    vertical-align:top;
    margin-top: 68px;
    margin-bottom: 94px;
    margin-left: 40px;   
    }
.image-block {
    display: inline-block;
    width: 40%;
    position: relative;
    }
h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    color: rgba(61, 61, 61, 1);
    padding-bottom: 5px;


}
h2 { 
   
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: rgba(61, 61, 61, 1);
    padding-bottom: 7px;
}
 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(114, 114, 114, 1);
    margin-bottom: 44px;
 }
 span {
    color:rgba(70, 163, 88, 1); ;
 }
.big-image {
    width: 100%;
}
.mini-image {
   
    position: absolute;
  top:260px;
  left: 45px; 
  width: 135px;
  height: auto;
  z-index: 10;
}
