body{
   font-family: "Cera Pro";
   font-weight: 400;
   width: 1200px;
   margin: 0 auto;

}

header{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
  
}
.header-buttons {
  flex-shrink: 1;
}

.header-menu li {
  flex-shrink: 1;
}
.header-nav {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   min-width: 1200px;
   justify-content: space-between;
   margin: 0 auto;
   border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
   margin-bottom: 12px;
   margin-top: 5px;
  
  


}
.header-logo {
  padding: 1px 0px 17px 0px;


}

.header-buttons{
   display: flex;
   align-items:flex-start;
   flex-wrap: wrap;
   gap: 30px;
}
.login-button {
   display: flex;
   justify-content: center;
   gap: 4px;

   min-width: 100px;
   padding: 7px 17px;
   height: 35px;
   border: none;
   border-radius: 6px;
   background-color: rgba(70, 163, 88, 1);

   color: rgba(255, 255, 255, 1);
   font-weight: 500;
   font-size: 16px;
   line-height: 20.11px; 
   transition: all 0.3s;
   width: 42px;

}

.login-button:hover {

   background-color: rgba(70, 163, 88, 0.8); 
   cursor: pointer;

}
.cart, .search {
   border: none;
   background: transparent;
   cursor: pointer;
   padding-top: 8px;
}
.cart :active {
  color:rgba(70, 163, 88, 0.8); ;
}
.search :active {
  color:rgba(70, 163, 88, 0.8); ;
}


li a{
   text-decoration: none;
}


.header-menu {
   padding: 7px 0px 0px 0px;
   
   
}
.header-menu ul {
   display: flex;

   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   min-width: 351px;
   gap: 7px;

}
.header-menu li {
  min-width: 87px;
  position: relative;
 
}
.header-menu li:nth-child(4) {
  text-align: center;
 padding-left: 13px;
}
.header-menu li a {
   
   font-size: 16px;
   font-weight: 400;
   line-height: 20.11px;
   color: rgba(61, 61, 61, 1);
   padding-bottom: 26px;
   border-bottom: 3px solid transparent;
   transition: all 0.3s ease;
   min-width: 99px;


 } 
 .header-menu li a:hover  {
  
   font-weight: 700;
   border-bottom: 3px solid rgba(70, 163, 88, 1);
   
  
 }

.welcome-block {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;

}
.text-block, .image-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
 
}
.image-block {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;

}
.text-block {
  padding-left: 40px;
  
 

}
.text-block p {

font-size: 14px;
font-weight: 400;
line-height: 24px;
color: rgba(114, 114, 114, 1);
padding-bottom: 43px;


}
.text-block h2 {
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  color: rgba(61, 61, 61, 1);
  padding-bottom: 5px;


}
.text-block h1 { 
 
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: rgba(61, 61, 61, 1);
  padding-bottom: 7px;
}

span {
  color:rgba(70, 163, 88, 1); ;
}
.shop-now {
  min-width: 140px;
  height: 40px;
  padding: 11px 27px 9px 26px;
  border: none;
  border-radius: 6px;
  background-color: rgba(70, 163, 88, 1);
  cursor: pointer;

  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 20px; 
  font-weight: 700;
  transition: all 0.3s;

}

.shop-now:hover {
  background-color: rgba(70, 163, 88, 0.8); 
   cursor: pointer;
}

.plant1 {
  position: relative;
  left: -8%;
  top: 1%;
}
.plant2 {
  position: relative;
  left: 18%;
  top: -1%;
  z-index: 0;
}

nav ul .second-menu{

  display: none;

}


nav ul li:hover .second-menu {
  display: block;
  position: absolute;
  top: 102%;
  left: -49%;
 
}

.second-menu li:hover {

  background: rgba(26, 113, 42, 1);
  color: rgba(255, 255, 255, 1);
  border: 1px solid transparent; 
}
nav ul li ul {
  display: block;
  gap: 5px;
  background:  rgba(237, 246, 238, 1);
  

}

.second-menu {

  padding-top: 40px;
  z-index: 20;
  min-width: 188px;

 
}
.second-menu, .third-menu {
  display: none;

  
}


.second-menu li:hover .third-menu {
  display: block;
  position: absolute;
  padding-left: 140px;
  top: -316%;
  left: 26%;

  min-width: 178px;
  
}

nav ul li ul {

 padding-left: 14px;
  background:  rgba(237, 246, 238, 1);
  
}


.second-menu ul {
  min-width: 188px;
  gap: 0px;
}

.third-menu ul {
  min-width: 178px;
  gap: 0px;
  padding-bottom: 0px;
  

}
.second-menu ul, .third-menu ul {
  width: 100%; 
  padding: 0;
  margin: 0;
  transition:all 0.3s ease ;


}
.second-menu li:nth-child(4) {
  padding-left: 0px;
  
}
.second-menu li {
  width: 100%; 
  border: 1px solid transparent;

  transition:all 0.3s ease ;
  
}
.third-menu li{
  width: 100%; 
  border: 1px solid transparent;
  transition:all 0.3s ease ;

}

.second-menu li a{
  padding: 7px 0px 8px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%; 
  
  
}
.second-menu li :hover {
  color: rgba(255, 255, 255, 1);

}


  
  .third-menu li a :hover {
   color: rgba(255, 255, 255, 1);
   border: 1px solid rgba(26, 113, 42, 1); 
}

.second-menu li:hover svg {
     transform: rotate(180deg);
  }

.second-menu ul li :hover {
        border-bottom: 3px solid transparent;
}


.third-menu ul li :hover {
  border-bottom: 3px solid transparent;
 
}